@charset "UTF-8";


:root {
    --titulo: "Josefin Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 120vh;
}

h2 {
    font-family: var(--titulo);
}